apiVersion: apps/v1
kind: Deployment
metadata:
  name: keycloak
  namespace: common-central
  labels:
    app: keycloak
spec:
  replicas: 1
  selector:
    matchLabels:
      app: keycloak
  template:
    metadata:
      labels:
        app: keycloak
    spec:
      containers:
      - name: keycloak
        image: quay.io/keycloak/keycloak:26.4
        args: ["start-dev", "--http-host=0.0.0.0"]
        env:
        env:
          - name: KEYCLOAK_ADMIN
            value: "admin"
          - name: KEYCLOAK_ADMIN_PASSWORD
            value: "admin"
          - name: KC_HTTP_ENABLED
            value: "true"
        ports:
        - containerPort: 8080
        resources:
          requests:
            memory: "512Mi"
            cpu: "500m"
          limits:
            memory: "1024Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: keycloak
  namespace: common-central
spec:
  selector:
    app: keycloak
  ports:
  - port: 8080
    targetPort: 8080
