apiVersion: v1
kind: ConfigMap
metadata:
  name: sidecar-configs
  namespace: distributed-tenant
data:
  # --- OPA Configuration ---
  opa-config.yaml: |
    services:
      - name: controller
        url: http://opal-server.common-central.svc.cluster.local:7002
    labels:
      app: echo-api
      environment: distributed 
    decision_logs:
      console: true

  # --- Envoy Configuration ---
  envoy.yaml: |
    static_resources:
      listeners:
      - address:
          socket_address:
            address: 0.0.0.0
            port_value: 8000
        filter_chains:
        - filters:
          - name: envoy.filters.network.http_connection_manager
            typed_config:
              "@type": type.googleapis.com/envoy.extensions.filters.network.http_connection_manager.v3.HttpConnectionManager
              stat_prefix: ingress_http
              route_config:
                name: local_route
                virtual_hosts:
                - name: backend
                  domains: ["*"]
                  routes:
                  - match:
                      prefix: "/"
                    route:
                      cluster: service_echo_api
              http_filters:
              - name: envoy.filters.http.ext_authz
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.ext_authz.v3.ExtAuthz
                  transport_api_version: V3
                  grpc_service:
                    envoy_grpc:
                      cluster_name: service_opa
                    timeout: 0.25s
                  failure_mode_allow: false
              - name: envoy.filters.http.router
                typed_config:
                  "@type": type.googleapis.com/envoy.extensions.filters.http.router.v3.Router

      clusters:
      - name: service_echo_api
        connect_timeout: 0.25s
        type: STATIC
        lb_policy: ROUND_ROBIN
        load_assignment:
          cluster_name: service_echo_api
          endpoints:
          - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: 127.0.0.1
                    port_value: 8080

      - name: service_opa
        connect_timeout: 0.25s
        type: STATIC
        http2_protocol_options: {}
        load_assignment:
          cluster_name: service_opa
          endpoints:
          - lb_endpoints:
            - endpoint:
                address:
                  socket_address:
                    address: 127.0.0.1
                    port_value: 9191
